[Unit]
Description=Collect OpenShift Logs

[Timer]
OnBootSec=10min
OnUnitActiveSec=24h
Unit=collect-oscp-logs.service

[Install]
WantedBy=multi-user.target
